# Perfilamiento y preprocesamiento de los datos

En este notebook se realizará el perfilamiento y preprocesamiento de los datos suministrados de la base de datos

## Carga de librerías

In [127]:
import pandas as pd
import numpy as np
# Para preparar los datos
from sklearn.preprocessing import LabelEncoder


Carga del archivo:

In [128]:
datosoriginal= pd.read_csv('data_2010_2017.csv', sep=',', encoding = 'utf-8')
datosoriginal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244984 entries, 0 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   anio           1244984 non-null  int64
 1   codigo_depto   1244984 non-null  object
 2   nombre_depto   1244984 non-null  object
 3   nombre_muni    1244984 non-null  object
 4   codigo_muni    1244984 non-null  object
 5   codigo_evento  1244984 non-null  object
 6   evento         1244984 non-null  object
 7   edad           1244984 non-null  object
 8   sexo           1244984 non-null  object
 9   num_casos      1244984 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 95.0+ MB

In [129]:
print(datosoriginal.shape)

(1244984, 10)

In [130]:
datosoriginal.head(50)

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,200524.0
1,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Hombres,114264.0
2,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Mujeres,86250.0
3,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Indeterminado,10.0
4,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Hombres,4745.0
5,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Mujeres,3607.0
6,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Indeterminado,3.0
7,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 1-4 años,Hombres,1027.0
8,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 1-4 años,Mujeres,886.0
9,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 5-14 años,Hombres,1434.0
10,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 5-14 años,Mujeres,1023.0
11,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 15-44 años,Hombres,27361.0
12,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 15-44 años,Mujeres,8385.0
13,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 15-44 años,Indeterminado,2.0
14,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 45-64 años,Hombres,23047.0
15,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 45-64 años,Mujeres,15977.0
16,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 65 y más,Hombres,55966.0
17,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,De 65 y más,Mujeres,56149.0
18,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Edad desconocida,Hombres,684.0
19,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Edad desconocida,Mujeres,223.0
20,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Edad desconocida,Indeterminado,5.0
21,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,TOTAL,TOTAL,716.0
22,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,TOTAL,Hombres,362.0
23,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,TOTAL,Mujeres,354.0
24,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Menor 1 año,Hombres,89.0
25,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Menor 1 año,Mujeres,61.0
26,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 1-4 años,Hombres,45.0
27,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 1-4 años,Mujeres,30.0
28,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 5-14 años,Hombres,20.0
29,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 5-14 años,Mujeres,10.0
30,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,27.0
31,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,16.0
32,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,45.0
33,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,40.0
34,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,136.0
35,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Mujeres,196.0
36,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Edad desconocida,Mujeres,1.0
37,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",TOTAL,TOTAL,971.0
38,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",TOTAL,Hombres,662.0
39,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",TOTAL,Mujeres,309.0
40,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",Menor 1 año,Hombres,5.0
41,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 1-4 años,Hombres,5.0
42,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 1-4 años,Mujeres,3.0
43,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 5-14 años,Hombres,10.0
44,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 5-14 años,Mujeres,9.0
45,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 15-44 años,Hombres,141.0
46,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 15-44 años,Mujeres,74.0
47,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 45-64 años,Hombres,242.0
48,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 45-64 años,Mujeres,83.0
49,2010,TOTAL,TOTAL,TOTAL,TOTAL,102,"TUBERCULOSIS, INCLUSIVE SECUELAS",De 65 y más,Hombres,257.0

In [131]:
datosoriginal.isnull().sum()

anio             0
codigo_depto     0
nombre_depto     0
nombre_muni      0
codigo_muni      0
codigo_evento    0
evento           0
edad             0
sexo             0
num_casos        0
dtype: int64

In [132]:
#¿Cuántos extranjeros?
for cols in datosoriginal:
    print(datosoriginal[cols].value_counts())

2016    172110
2015    169734
2014    155936
2010    155106
2013    152821
2011    152263
2012    151523
2017    135491
Name: anio, dtype: int64
05             134708
25             107029
76              73568
15              52341
68              42495
73              42159
52              41485
41              39505
19              38534
23              34667
13              29800
15              29679
47              27816
68              26891
17              25818
20              25647
50              24961
08              23859
54              22378
52              19496
27              19246
70              19015
85              17959
13              17499
44              17394
54              17186
86              16530
5               16434
66              16210
73              14990
18              14565
17              13423
63              12799
19              12650
8               12475
81              12172
70              11598
23              10892
66               9951
20               8448
47               8413
Extranjeros      8221
TOTAL            7951
63               7606
50               7203
95               5764
91               5252
18               4850
41               4758
99               4749
88               4144
11               3675
44               3441
97               3321
94               3136
25               2854
11               2243
27               1718
76               1413
Name: codigo_depto, dtype: int64
Antioquia                                   151142
Cundinamarca                                109883
Boyacá                                       82020
Valle del Cauca                              74981
Santander                                    69386
Nariño                                       60981
Tolima                                       57149
Cauca                                        51184
Bolívar                                      47299
Córdoba                                      45559
Huila                                        44263
Norte de Santander                           39564
Caldas                                       39241
Atlántico                                    36334
Magdalena                                    36229
Cesar                                        34095
Meta                                         32164
Sucre                                        30613
Risaralda                                    26161
Chocó                                        20964
La Guajira                                   20835
Quindío                                      20405
Caquetá                                      19415
Casanare                                     17959
Putumayo                                     16530
Arauca                                       12172
Extranjeros                                   8221
TOTAL                                         7951
Bogotá                                        5918
Guaviare                                      5764
Amazonas                                      5252
Vichada                                       4749
Archipiélago de San Andrés y Providencia      4144
Vaupés                                        3321
Guainía                                       3136
Name: nombre_depto, dtype: int64
TOTAL                               143369
Bogotá                                5771
Cali                                  5266
Medellín                              5224
La Unión                              4979
                                     ...
República Islámica de Irán               6
Hungría                                  6
Indonesia                                6
República Islámica de Afganistán         6
Suecia                                   6
Name: nombre_muni, Length: 1117, dtype: int64
TOTAL    143369
11001      5771
76001      5266
05001      5224
08001      4795
          ...
75678         6
75674         6
75008         6
75554         6
75232         6
Name: codigo_muni, Length: 1237, dtype: int64
TOTAL    111247
303       58638
307       46996
605       41079
109       37729
          ...
606        1433
505        1417
107        1173
406         901
305         603
Name: codigo_evento, Length: 72, dtype: int64
TOTAL                                                     111247
ENFERMEDADES ISQUEMICAS DEL CORAZON                        58638
ENFERMEDADES CEREBROVASCULARES                             46996
ENF. CRONICAS VIAS REPIRATORIAS INFERIORES                 41079
INFECCIONES RESPIRATORIAS AGUDAS                           37729
                                                           ...
OTRAS ENF. DE LAS VIAS RESPIRATORIAS SUPERIORES             1433
ACC. CAUSADOS POR DISPARO DE ARMAS DE FUEGO                 1417
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                1173
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS       901
PARO CARDIACO                                                603
Name: evento, Length: 73, dtype: int64
TOTAL               606313
De 65 y más         151282
De 45-64 años       147376
De 15-44 años       109096
De 65-84 años        76867
De 85-99 años        49140
Menor 1 año          47946
De 5-14 años         25800
De 1-4 años          21918
De 100 y más          5655
Edad desconocida      3591
Name: edad, dtype: int64
Hombres             538360
Mujeres             455903
TOTAL               249527
Indeterminado          765
Total                   70
De 45-64 años           63
De 65 y más             62
De 15-44 años           61
De 5-14 años            52
Menor 1 año             48
De 1-4 años             43
Edad desconocida        30
Name: sexo, dtype: int64
1.0       605085
2.0       195149
3.0        95286
4.0        57178
5.0        38143
           ...
2550.0         1
2548.0         1
2547.0         1
2546.0         1
2033.0         1
Name: num_casos, Length: 3148, dtype: int64

In [133]:
#Manejo extranjeros y total
for col in datosoriginal.columns:
    datosoriginal.drop(datosoriginal.loc[datosoriginal[col]=='TOTAL'].index,inplace=True)

In [134]:
#Extranjeros
datosoriginal["codigo_depto"]=datosoriginal.codigo_depto.replace({'Extranjeros':1001})
datosoriginal["codigo_muni"]=datosoriginal.codigo_muni.replace({'Extranjeros':1001})

In [135]:
for cols in datosoriginal:
    print(datosoriginal[cols].value_counts())

2016    67555
2015    66434
2014    57208
2010    56522
2013    55937
2011    55512
2012    55256
2017    50210
Name: anio, dtype: int64
05      55605
25      41758
76      32919
15      18155
73      16210
68      16083
52      14958
41      14752
19      14466
23      13828
13      10914
47      10427
15      10377
17      10332
68      10261
20       9418
08       9346
50       9018
54       8189
52       7300
5        6983
70       6729
13       6512
54       6363
66       6349
44       5932
73       5725
85       5625
27       5483
8        5228
86       5067
17       5001
63       4757
18       4754
19       4635
23       4146
70       4104
66       3908
81       3833
47       3067
20       3039
63       2807
11       2579
50       2503
41       1749
1001     1748
11       1600
18       1557
95       1383
44       1217
91       1135
99       1024
88        963
97        639
94        619
25        576
27        567
76        412
Name: codigo_depto, dtype: int64
Antioquia                                   62588
Cundinamarca                                42334
Valle del Cauca                             33331
Boyacá                                      28532
Santander                                   26344
Nariño                                      22258
Tolima                                      21935
Cauca                                       19101
Córdoba                                     17974
Bolívar                                     17426
Huila                                       16501
Caldas                                      15333
Atlántico                                   14574
Norte de Santander                          14552
Magdalena                                   13494
Cesar                                       12457
Meta                                        11521
Sucre                                       10833
Risaralda                                   10257
Quindío                                      7564
La Guajira                                   7149
Caquetá                                      6311
Chocó                                        6050
Casanare                                     5625
Putumayo                                     5067
Bogotá                                       4179
Arauca                                       3833
Extranjeros                                  1748
Guaviare                                     1383
Amazonas                                     1135
Vichada                                      1024
Archipiélago de San Andrés y Providencia      963
Vaupés                                        639
Guainía                                       619
Name: nombre_depto, dtype: int64
Bogotá                        4179
Cali                          3557
Medellín                      3542
Barranquilla                  3177
Cartagena                     3014
                              ...
Egipto                           1
Antigua Y Barbuda                1
Polinesia Francesa               1
República Islámica de Irán       1
Angola                           1
Name: nombre_muni, Length: 1116, dtype: int64
11001    4179
76001    3557
05001    3542
08001    3177
13001    3014
         ...
75818       1
75364       1
75428       1
75384       1
88999       1
Name: codigo_muni, Length: 1236, dtype: int64
303    31684
307    22801
605    18548
109    17642
302    16326
       ...
606      303
505      289
107      241
406      163
305      124
Name: codigo_evento, Length: 71, dtype: int64
ENFERMEDADES ISQUEMICAS DEL CORAZON                       31684
ENFERMEDADES CEREBROVASCULARES                            22801
ENF. CRONICAS VIAS REPIRATORIAS INFERIORES                18548
INFECCIONES RESPIRATORIAS AGUDAS                          17642
ENFERMEDADES HIPERTENSIVAS                                16326
                                                          ...
OTRAS ENF. DE LAS VIAS RESPIRATORIAS SUPERIORES             303
ACC. CAUSADOS POR DISPARO DE ARMAS DE FUEGO                 289
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                241
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS      163
PARO CARDIACO                                               124
Name: evento, Length: 72, dtype: int64
De 65 y más         126273
De 45-64 años       110233
De 15-44 años        75130
De 65-84 años        62309
De 85-99 años        36690
Menor 1 año          28073
De 5-14 años         12147
De 1-4 años           9955
De 100 y más          2586
Edad desconocida      1238
Name: edad, dtype: int64
Hombres          255539
Mujeres          209009
Indeterminado        86
Name: sexo, dtype: int64
1.0       295163
2.0        71587
3.0        30090
4.0        16412
5.0        10235
           ...
755.0          1
1508.0         1
1022.0         1
594.0          1
420.0          1
Name: num_casos, Length: 466, dtype: int64

In [136]:
datoslimpios = datosoriginal

In [137]:
#¿Cuántos extranjeros?
for cols in datoslimpios:
    print(datoslimpios[cols].value_counts())

2016    67555
2015    66434
2014    57208
2010    56522
2013    55937
2011    55512
2012    55256
2017    50210
Name: anio, dtype: int64
05      55605
25      41758
76      32919
15      18155
73      16210
68      16083
52      14958
41      14752
19      14466
23      13828
13      10914
47      10427
15      10377
17      10332
68      10261
20       9418
08       9346
50       9018
54       8189
52       7300
5        6983
70       6729
13       6512
54       6363
66       6349
44       5932
73       5725
85       5625
27       5483
8        5228
86       5067
17       5001
63       4757
18       4754
19       4635
23       4146
70       4104
66       3908
81       3833
47       3067
20       3039
63       2807
11       2579
50       2503
41       1749
1001     1748
11       1600
18       1557
95       1383
44       1217
91       1135
99       1024
88        963
97        639
94        619
25        576
27        567
76        412
Name: codigo_depto, dtype: int64
Antioquia                                   62588
Cundinamarca                                42334
Valle del Cauca                             33331
Boyacá                                      28532
Santander                                   26344
Nariño                                      22258
Tolima                                      21935
Cauca                                       19101
Córdoba                                     17974
Bolívar                                     17426
Huila                                       16501
Caldas                                      15333
Atlántico                                   14574
Norte de Santander                          14552
Magdalena                                   13494
Cesar                                       12457
Meta                                        11521
Sucre                                       10833
Risaralda                                   10257
Quindío                                      7564
La Guajira                                   7149
Caquetá                                      6311
Chocó                                        6050
Casanare                                     5625
Putumayo                                     5067
Bogotá                                       4179
Arauca                                       3833
Extranjeros                                  1748
Guaviare                                     1383
Amazonas                                     1135
Vichada                                      1024
Archipiélago de San Andrés y Providencia      963
Vaupés                                        639
Guainía                                       619
Name: nombre_depto, dtype: int64
Bogotá                        4179
Cali                          3557
Medellín                      3542
Barranquilla                  3177
Cartagena                     3014
                              ...
Egipto                           1
Antigua Y Barbuda                1
Polinesia Francesa               1
República Islámica de Irán       1
Angola                           1
Name: nombre_muni, Length: 1116, dtype: int64
11001    4179
76001    3557
05001    3542
08001    3177
13001    3014
         ...
75818       1
75364       1
75428       1
75384       1
88999       1
Name: codigo_muni, Length: 1236, dtype: int64
303    31684
307    22801
605    18548
109    17642
302    16326
       ...
606      303
505      289
107      241
406      163
305      124
Name: codigo_evento, Length: 71, dtype: int64
ENFERMEDADES ISQUEMICAS DEL CORAZON                       31684
ENFERMEDADES CEREBROVASCULARES                            22801
ENF. CRONICAS VIAS REPIRATORIAS INFERIORES                18548
INFECCIONES RESPIRATORIAS AGUDAS                          17642
ENFERMEDADES HIPERTENSIVAS                                16326
                                                          ...
OTRAS ENF. DE LAS VIAS RESPIRATORIAS SUPERIORES             303
ACC. CAUSADOS POR DISPARO DE ARMAS DE FUEGO                 289
INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL                241
ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KERNICTERUS      163
PARO CARDIACO                                               124
Name: evento, Length: 72, dtype: int64
De 65 y más         126273
De 45-64 años       110233
De 15-44 años        75130
De 65-84 años        62309
De 85-99 años        36690
Menor 1 año          28073
De 5-14 años         12147
De 1-4 años           9955
De 100 y más          2586
Edad desconocida      1238
Name: edad, dtype: int64
Hombres          255539
Mujeres          209009
Indeterminado        86
Name: sexo, dtype: int64
1.0       295163
2.0        71587
3.0        30090
4.0        16412
5.0        10235
           ...
755.0          1
1508.0         1
1022.0         1
594.0          1
420.0          1
Name: num_casos, Length: 466, dtype: int64

In [138]:
# Resumen de los estadisticos de las variables numéricas
datoslimpios.describe()

                anio      num_casos
count  464634.000000  464634.000000
mean     2013.554705       3.417572
std         2.261987      18.478084
min      2010.000000       1.000000
25%      2012.000000       1.000000
50%      2014.000000       1.000000
75%      2016.000000       2.000000
max      2017.000000    2002.000000

In [139]:
datoslimpios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464634 entries, 1750 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   anio           464634 non-null  int64
 1   codigo_depto   464634 non-null  object
 2   nombre_depto   464634 non-null  object
 3   nombre_muni    464634 non-null  object
 4   codigo_muni    464634 non-null  object
 5   codigo_evento  464634 non-null  object
 6   evento         464634 non-null  object
 7   edad           464634 non-null  object
 8   sexo           464634 non-null  object
 9   num_casos      464634 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 59.0+ MB

In [140]:
datoslimpios = datoslimpios.astype({"codigo_depto":int,"codigo_muni":int,"codigo_evento":int})
datoslimpios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 464634 entries, 1750 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   anio           464634 non-null  int64
 1   codigo_depto   464634 non-null  int32
 2   nombre_depto   464634 non-null  object
 3   nombre_muni    464634 non-null  object
 4   codigo_muni    464634 non-null  int32
 5   codigo_evento  464634 non-null  int32
 6   evento         464634 non-null  object
 7   edad           464634 non-null  object
 8   sexo           464634 non-null  object
 9   num_casos      464634 non-null  float64
dtypes: float64(1), int32(3), int64(1), object(5)
memory usage: 53.7+ MB

In [141]:
#Corroboración
datoslimpios.head(800)

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
1750,2010,5,Antioquia,Medellín,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1751,2010,5,Antioquia,Medellín,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1752,2010,5,Antioquia,Medellín,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1753,2010,5,Antioquia,Medellín,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1754,2010,5,Antioquia,Medellín,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0
...,...,...,...,...,...,...,...,...,...,...
3289,2010,5,Antioquia,Angostura,5038,306,INSUFICIENCIA CARDIACA,De 45-64 años,Hombres,1.0
3290,2010,5,Antioquia,Angostura,5038,306,INSUFICIENCIA CARDIACA,De 65 y más,Hombres,1.0
3294,2010,5,Antioquia,Angostura,5038,307,ENFERMEDADES CEREBROVASCULARES,De 45-64 años,Mujeres,2.0
3295,2010,5,Antioquia,Angostura,5038,307,ENFERMEDADES CEREBROVASCULARES,De 65 y más,Hombres,2.0
3296,2010,5,Antioquia,Angostura,5038,307,ENFERMEDADES CEREBROVASCULARES,De 65 y más,Mujeres,1.0

## Normalización

In [146]:
#Por region
maxs = datoslimpios["num_casos"].max()

region = datoslimpios.groupby(by = ["nombre_depto"]).sum()

region['porcentaje_reg'] = (region['num_casos'] / 
                  region['num_casos'].sum()) * 100
region

,anio,codigo_depto,codigo_muni,codigo_evento,num_casos,porcentaje_reg
nombre_depto,,,,,,
Amazonas,2285210,103285.0,1.034837e+08,450672.0,1507.0,0.094904
Antioquia,126026528,312940.0,3.368729e+08,24448783.0,228566.0,14.394050
Arauca,7717776,310473.0,3.119784e+08,1491416.0,7597.0,0.478425
Archipiélago de San Andrés y Providencia,1939009,84744.0,8.483492e+07,366954.0,1903.0,0.119842
Atlántico,29347366,116592.0,1.227102e+08,5561946.0,77816.0,4.900499
Bogotá,8414960,45969.0,4.597318e+07,1619182.0,228495.0,14.389579
Bolívar,35088808,226538.0,2.334888e+08,6804480.0,53125.0,3.345572
Boyacá,57448143,427980.0,4.413431e+08,11337409.0,48935.0,3.081704
Caldas,30873255,260661.0,2.667365e+08,5851820.0,44267.0,2.787735
Caquetá,12706816,113598.0,1.156152e+08,2527775.0,12987.0,0.817862
Casanare,11325610,478125.0,4.791644e+08,2209664.0,9397.0,0.591780
Cauca,38461016,362919.0,3.707818e+08,7650385.0,40272.0,2.536148
Cesar,25082748,249140.0,2.522676e+08,4883867.0,28749.0,1.810482
Chocó,12181360,163350.0,1.650352e+08,2411965.0,9775.0,0.615585
Cundinamarca,85241896,1058350.0,1.078684e+09,16611219.0,89760.0,5.652678
Córdoba,36192970,413402.0,4.208288e+08,6986152.0,46514.0,2.929241
Extranjeros,3520177,1749748.0,1.322477e+08,695972.0,2655.0,0.167200
Guainía,1246308,58186.0,5.824123e+07,252913.0,791.0,0.049814
Guaviare,2784521,131385.0,1.314405e+08,554616.0,2078.0,0.130863
Huila,33225963,676541.0,6.827881e+08,6430494.0,39584.0,2.492821
La Guajira,14394956,314556.0,3.171475e+08,2830465.0,13830.0,0.870951
Magdalena,27171093,634218.0,6.388990e+08,5259953.0,36571.0,2.303076
Meta,23197286,576050.0,5.795429e+08,4536522.0,33229.0,2.092612
Nariño,44817163,1157416.0,1.166696e+09,8983333.0,49618.0,3.124717
Norte de Santander,29300941,785808.0,7.914110e+08,5698788.0,50620.0,3.187818
Putumayo,10202563,435762.0,4.384156e+08,2034557.0,7962.0,0.501411
Quindío,15230743,476532.0,4.784538e+08,2838066.0,26828.0,1.689506
Risaralda,20653240,676962.0,6.799093e+08,3862359.0,41900.0,2.638672
Santander,53044049,1791392.0,1.801184e+09,10276424.0,76347.0,4.807988
Sucre,21813928,758310.0,7.630322e+08,4193487.0,23961.0,1.508955
Tolima,44167461,1601255.0,1.608839e+09,8484107.0,61090.0,3.847171
Valle del Cauca,67113868,2533156.0,2.545401e+09,12801925.0,189091.0,11.908094
Vaupés,1286405,61983.0,6.208514e+07,257973.0,796.0,0.050128
Vichada,2061841,101376.0,1.017994e+08,420876.0,1304.0,0.082120

In [147]:
#Evento
evento1 = datoslimpios.groupby(by = ["evento"]).sum()

evento1['porcentaje_event'] = (evento1['num_casos'] / 
                  evento1['num_casos'].sum()) * 100
evento1

,anio,codigo_depto,codigo_muni,codigo_evento,num_casos,porcentaje_event
evento,,,,,,
ACC. CAUSADOS POR DISPARO DE ARMAS DE FUEGO,581805,12911,12091366,145945,305.0,0.019208
ACC. CAUSADOS POR MAQUINAS Y POR INSTR. CORTANTES/PUNZANTES,700542,14614,12880153,175392,375.0,0.023616
"ACC. TRANSPORTE TERRESTRE, INCLUSIVE SECUELAS",28969644,625166,566090631,7208889,46316.0,2.916772
"AGRESIONES (HOMICIDIOS), INCLUSIVE SECUELAS",29316857,650632,572284283,7456256,100943.0,6.356932
AHOGAMIENTO Y SUMERSION ACCIDENTALES,8690270,195063,172580636,2184402,5919.0,0.372752
...,...,...,...,...,...,...
TUMOR MALIGNO DE LA MAMA,11232071,224280,213443817,1160224,21102.0,1.328908
TUMOR MALIGNO DEL COLON,12821101,256031,244408849,1286134,18640.0,1.173863
TUMOR MALIGNO DEL ESTOMAGO,24539328,488277,473605987,2449587,37515.0,2.362525
TUMOR MALIGNO DEL PANCREAS,9152097,184726,172403559,931725,12066.0,0.759862
TUMOR MALIGNO HIGADO Y VIAS BILIARES,15081462,296977,283092622,1527960,20506.0,1.291375

In [149]:
#Municipio
municipio = datoslimpios.groupby(by = ["nombre_muni"]).sum()

municipio['porcentaje_mun'] = (municipio['num_casos'] / 
                  municipio['num_casos'].sum()) * 100
municipio

,anio,codigo_depto,codigo_muni,codigo_evento,num_casos,porcentaje_mun
nombre_muni,,,,,,
Abejorral,1030953,2560,2561024,195204,935.0,0.058882
Abriaquí,213375,530,530424,40569,117.0,0.007368
Acacías,2116270,52550,52556306,406972,2558.0,0.161091
Acandí,471128,6318,6319404,99705,279.0,0.017570
Acevedo,1018893,20746,20749036,199575,809.0,0.050947
...,...,...,...,...,...,...
Zipaquirá,2494883,30975,32088861,477981,3562.0,0.224319
Zona Bananera,1606842,37506,38288040,333203,1584.0,0.099753
Ábrego,1000819,26838,26839491,195251,945.0,0.059512
Ángelópolis,432887,1075,1082740,90991,283.0,0.017822
Útica,356389,4425,4575627,70128,232.0,0.014610

In [153]:
#Sexo
sex = datoslimpios.groupby(by = ["sexo"]).sum()

sex['porcentaje_sex'] = (sex['num_casos'] / 
                  sex['num_casos'].sum()) * 100
sex

,anio,codigo_depto,codigo_muni,codigo_evento,num_casos,porcentaje_sex
sexo,,,,,,
Hombres,514535714,10733904.0,9.831256e+09,101298265.0,882382.0,55.568417
Indeterminado,173133,3779.0,3.806586e+06,46291.0,99.0,0.006235
Mujeres,420857130,8511019.0,7.972268e+09,80281963.0,705439.0,44.425349

## Extraer csvs para tableros

In [160]:
#Dataframe completo
datoslimpios.to_csv("datoslimpios.csv", encoding='utf-8', index=False)

In [161]:
#Region
region.to_csv("region.csv", encoding='utf-8', index=False)

In [162]:
#Evento1
evento1.to_csv("evento1.csv", encoding='utf-8', index=False)

In [163]:
#Municipio
municipio.to_csv("municipio.csv", encoding='utf-8', index=False)

In [164]:
#Municipio
sex.to_csv("sexo.csv", encoding='utf-8', index=False)