# Perfilamiento y preprocesamiento de los datos

En este notebook se realizará el perfilamiento y preprocesamiento de los datos suministrados de la base de datos

## Carga de librerías

In [1]:
import pandas as pd
import numpy as np


Carga del archivo:

In [2]:
datosoriginal= pd.read_csv('data_2010_2017.csv', sep=',', encoding = 'utf-8')
datosoriginal.info()

/Users/juandiegocardona/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244984 entries, 0 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   anio           1244984 non-null  int64
 1   codigo_depto   1244984 non-null  object
 2   nombre_depto   1244984 non-null  object
 3   nombre_muni    1244984 non-null  object
 4   codigo_muni    1244984 non-null  object
 5   codigo_evento  1244984 non-null  object
 6   evento         1244984 non-null  object
 7   edad           1244984 non-null  object
 8   sexo           1244984 non-null  object
 9   num_casos      1244984 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 95.0+ MB

In [3]:
datosoriginal.head()

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,200524.0
1,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Hombres,114264.0
2,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Mujeres,86250.0
3,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Indeterminado,10.0
4,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Hombres,4745.0

In [4]:
datosoriginal.isnull().sum()

anio             0
codigo_depto     0
nombre_depto     0
nombre_muni      0
codigo_muni      0
codigo_evento    0
evento           0
edad             0
sexo             0
num_casos        0
dtype: int64

In [18]:
for col in datosoriginal.columns:
    datosoriginal.drop(datosoriginal.loc[datosoriginal[col]=='TOTAL'].index,inplace=True)
for col in datosoriginal.columns:
    datosoriginal.drop(datosoriginal.loc[datosoriginal[col]=='Extranjeros'].index,inplace=True)
datoslimpios=datosoriginal
datoslimpios.head()

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
1750,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1751,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1752,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1753,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1754,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0

In [19]:
datoslimpios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462886 entries, 1750 to 1244118
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   anio           462886 non-null  int64
 1   codigo_depto   462886 non-null  object
 2   nombre_depto   462886 non-null  object
 3   nombre_muni    462886 non-null  object
 4   codigo_muni    462886 non-null  object
 5   codigo_evento  462886 non-null  object
 6   evento         462886 non-null  object
 7   edad           462886 non-null  object
 8   sexo           462886 non-null  object
 9   num_casos      462886 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 55.0+ MB

In [22]:
datoslimpios = datoslimpios.astype({"codigo_depto":int,"codigo_muni":int,"codigo_evento":int})
datoslimpios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462886 entries, 1750 to 1244118
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   anio           462886 non-null  int64
 1   codigo_depto   462886 non-null  int64
 2   nombre_depto   462886 non-null  object
 3   nombre_muni    462886 non-null  object
 4   codigo_muni    462886 non-null  int64
 5   codigo_evento  462886 non-null  int64
 6   evento         462886 non-null  object
 7   edad           462886 non-null  object
 8   sexo           462886 non-null  object
 9   num_casos      462886 non-null  float64
dtypes: float64(1), int64(4), object(5)
memory usage: 55.0+ MB

In [17]:
datoslimpios.to_csv("DatosLimpios/datoslimpios.csv", encoding='utf-8', index=False)